<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Some Wishes</h2>
                    <h3 class="section-subheading text-muted">Because, yes, we love you.

Because you deserve them. 

To let you know how many hearts you've touched!</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Neha</h4>
                    <p class="text-muted">मेरा बहुत प्रतिभाशाली सखी लतिका, 20 वां जन्मदिन मुबारक हो
अब जब आप 20 वर्ष की हो गई हैं देवी जी, तो मेरे लिए जीजू खोजें। आखिर कब तक तुम लड़कियों को घूर घुरकर काम चलाओगी। उनको घिरने से ज़िन्दगी में बहारा बहारा नहीं होने वाला</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Reet</h4>
                    <p class="text-muted">आजचा वाढदिवस तुझ्या आयुष्यातील एक अनमोल आठवण रहावी, आणि त्या आठवणीने तुझं आयुष्य अधिकाधिक सुंदर बनावं, हीच आमची इच्छा. वाढदिवसाच्या खूप खूप शुभेच्छा! मी मराठी बोलू शकतो| 
आईची लाडकी तू  , पण तुझ्या इन्स्ताग्रां पोस्ट्स मुळे आमच्या सगळ्यांची लाडकी तुझी बहिण!
</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Abeen Bhattacharya</h4>
                    <p class="text-muted">Kyuki mai bohot cool hu, mai note nahi likhra, ye le seedhe <a href="https://drive.google.com/file/d/1lOrj4oPVNaoEufd8uNCmsS4N3lRcXzXx/view?usp=sharing">Letter</a> likh dia tere lie</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Misari</h4>
                    <p class="text-muted">hey meri chapli🤗 happy birthday to you. You are born in the zoo with monkeys and yourself happy birthday to you. Aise hi mirror ko dekhti reh kabhi naa kabhi toh sachai pata chal hi jayegi😌 milte hai phir 4 bje 😉. I love you as much as Hitansh loves you.
</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Sanjev</h4>
                    <p class="text-muted">Turning 20, Happy Birthdayyy My dear friend Latikaaa !!!This is your day. Enjoy it to the fullest!!!! You are one of the most sincere people I have met and tbh you always remain cheerful, adjust instead of complaining (u have made some changes for me at the last moment xD). You are a really sweet person though you keep it lowkey. Stay the same forever and keep dancing! Working along with you and to have bonded along while contesting against each other is the irony xD. Hope this bond just increases To more years 
</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Hitansh</h4>
                    <p class="text-muted">Happy birthday to one of the most closest and special (doubt toh nhi hona chaiye kal ke baad😂) friend Latika Patel❤️. Cheers to endless nights in insti and whatsapp. Hope this stays forever. Subah ke sooraj ko dekhne ki aadat si ho gayi hai ab toh teri vajah se. Stay safe, stay happy and I hope you'll enjoy this quarantine birthday😂😂.
Lots of love, stay blessed craxxx patel❤️❤️
</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Devank</h4>
                    <p class="text-muted">We had a discussion once where you explained that life mai kuch hangout, party waale dost bhi hone chahiye na. Jo life full on chill kar de. Well I don't know about you, but mujhe meri not just hangout waali, enthu maxx, coding crexxx, dance machaxxx waali dost mil gayi. Happy birthday my dearest PATIL. 🌹🤗🥰
</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Diya</h4>
                    <p class="text-muted">Happy birthdayyy latika
Stay the same. Love you loadss 😘
</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Akshit</h4>
                    <p class="text-muted">Madam poori website khadi kar di aapke lie, ab wish bhi karna padega alag se? :P. Abey tera birthday coincides with Star Wars day, how cool is that! Cheers to those the little events we pulled off so successfully and looking forward to learning so much from you! Happy Birthdayy Latikaa 🥰🥰</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Anish</h4>
                    <p class="text-muted">जगातील सर्व आनंद तुला मिळो 
स्वप्नं सगळी तुझ्या पायांशी असो
आमची गोड, लाडकी ज्या दिवशी पृथ्वीवर आली तो सुंदर दिवस हा- तुला वाढदिवसाच्या हार्दिक शुभेच्छा!
</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Mom</h4>
                    <p class="text-muted">Many Many Happy Returns Of The Day my lovely Daughter Latika.🎂🎂🎁😍😍 Stay blessed and lots of best wishes😍😊 we all are proud of you Beta!! 🥰🥰
</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Dad</h4>
                    <p class="text-muted">LATIKA we love you you Beta!!! Our First Child , you are always our Aankho ka Tara , A loving , Caring , Happy , Talented , Rich , Thoughtful and Beautiful, Our  daughter , God Always Bless You !!!
</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Hemu</h4>
                    <p class="text-muted">Happy birthday DIDU .❤😍😘🤗🎁I love you very much 😘😊you are an inspiration for me 🤗you are the best bro😁Happy birthday🎁🎁🍦🎂
</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Mayuka</h4>
                    <p class="text-muted">Happiesst Birthdayy Latikaaa! Can't believe we are so old now. We started as these inseparable little kids and I don't think anything has changed at all! From song recitals to society dances, from the Waadi trip to many crazy sleepovers. From late night talks that turned into mornings to being together forever. Love you ♥️
</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Manasi</h4>
                    <p class="text-muted">Happy birthday latikeeee. We've known eachother for more than a decade now and thats crazyyyy. Honestly we've had a rad chilhood. From 'wings club' to dav lunch breaks we've come a long way. Stay the same amazing person that you are. 
lots of love, your neighbour forever.
</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <h4 class="service-heading">Ashwini</h4>
                    <p class="text-muted">Happy 20th Latika! 
I miss you and aunty's gulabjamuns so much but mostly aunty's gulabjamuns😔❤️
I don't remember how long I've known you for but you made supriya towers B ki life better.
I miss walking to school with you and the rainy mornings xD
When we were friends all those years ago, we were both very different people than we are now. Younger, of course. More foolish, certainly. Our lives and our levels of wisdom have changed, tera hamesha se zyaada tha but😂.Kabhi hume milne bhi aaya karo😔😔
Hope you have a great day (cries in corona)
and achieve all your goals.
Wish we could listen to old songs at your place and recreate that kareena kapoor pink and blue vaala dance video:')
</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Mihika</h4>
                    <p class="text-muted">Hi Latikieeeeee. Happiest Birthday. Thanks for always being one call away. No matter what happens I know we'll never break. I couldn't have asked for a better friend. Love you loadsssss.❤️❤️❤️</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Tanvi</h4>
                    <p class="text-muted">Hey Latika.....Happpppyyyyyy Birthdayyyyyy !!!! 🎉Don’t ever change, stay the awemazingg, crazy(slightly😜) & beautiful person you are! ❤️
</p>
                </div>
            </div>
            <div class="row text-center">
                <center>
                <div class="col-md-4">
                    <h4 class="service-heading">Sanjyot</h4>
                    <p class="text-muted"> Hey Latika! Wish you a very happy Quarantined Birthday xD! Hope you have a fun and safe year ahead. Looking forward to having fun and having lots of Bakchodi while working with you in ITC! Here's a little unique <a href="https://drive.google.com/file/d/1E0Mtl-umbMNcgiYCydFk2gyjoqzKWqTD/view">code</a> for you!
</p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Anirudh</h4>
                    <p class="text-muted">
                        &lt;birthday wish&gt;

&lt;h1&gt;Happyyyy birthday Latika! &lt;/h1&gt;

&lt;p&gt; It's definitely not going to be the best way to spend your birthday this year, but I hope you have fun! &lt;/p&gt;

&lt;senti&gt; You were one of the best conveners we had. Jian and I always felt comfortable giving you work and appreciated your strong work ethic. I was &lt;b&gt;really happy&lt;/b&gt; to know that you applied for WnCC secy and excited to work with you for one more year! Insti start hote hi party karte Hain \m/ &lt;/senti&gt;

&lt;p>&gt;his code's prolly buggy. Need to brush up HTML xD. Milte hain raat ko for team meet and mafia :)&lt;/p&gt;

&gt;/birthday wish&gt;
                    </p>
                </div>
                <div class="col-md-4">
                    <h4 class="service-heading">Yoda</h4>
                    <p class="text-muted"> May the Fourth be with you
</p>
                </div>
                </center>
            </div>
        </div>

    </section>
